.cells{
    display: grid;
    grid-template-columns: 150px  repeat(32, 100px);
    grid-auto-rows: 30px;
    padding-top: 10px;
    position: sticky;
    top: 0;
    background-color: white;
}
.cell{
    display: flex;
    flex-direction: row;
    padding: 0 5px;
}
.column_user{
    background-color: white;
    position: sticky;
    left: 0;
}
.column_monthly{
    background-color: white;
    position: sticky;
    right: 0;
}